### **1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

\*

\'hello'

-87.8

\- 

/ 

\+

6

**Answer:**

According to the above question the values and expression are as follows:
    
    Values: 'hello', -87.8, 6
    
    Expressions: *, -, /, +

### **2. What is the difference between string and variable?**

**Answer:**

| ** Variable**                                     | **String**                                     |
|---------------------------------------------------|------------------------------------------------|
| A variable is something that can contain a value. | A string is one of many types of values.       |
| To declair Variable '=' sign is used.             | Strings are enclosed in Single/ Double Quotes. |

### **3. Describe three different data types.**

**Answer:**

1. **Strings:** It is one such data type which contain sequence of characters. Generally, strings are represented by either single ('') or double-quotes (""). 

    Example, 
        
        a = "I am a Coder"
        b= 'I am a Coder'
    
    
2. **List:** In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

    `Lists` are constructed with brackets `[]` and commas separating every element in the list.


    *   List is one of the Sequence Data Structure
    *   List are collection of items (Strings, integers, or even other lists)

    *   List are enclosed in [ ]
    *   Each item in the list has an assigned index value

    *   Each item in a list is separated by a comma (,)
    *   Lists are *mutable*, which means they can be changed.

3. **Dictionary:** Python dictionary is an unordered (cannot index) collection of items. While other compound data types have only value as an element, a dictionary has a ***key: value*** pair.

    Note: Tuple and List are Ordered DS but Sets and Dictionary are Unordered DS.

    *   We put { } to represent Dictionaries.

    *   We have to use **:** to differentiate key and value pair inside { }

### **4. What is an expression made up of? What do all expressions do?**

**Answer:**

An Expression is an combination of operators and operands. which produces another value after the expression is evaluated.

In [10]:
a = 21 
b = 9
c = a + b # this is an expression.
# Note: + is an operator while a and b are operands
print(c) # which give another value after expression is evaluated.

30

### **5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Answer:**

A statement can be a single or multiple line of code that will be executed when we run our code like assignment statement, function or class statement or control flow statement.

On the other hand, an expression is the part of the statement containing operators and operands, after execution they give us another value as a result.

Example:
    
    spam = 10 is assignment statement 
    
    spam = 10 * 8 where 10 * 8 is an expression.

### **6. After running the following code, what does the variable bacon contain?**
    bacon = 22

    bacon + 1

In [11]:
bacon = 22
bacon+1
print(bacon)

22

The variable bacon contain 22 because, in the code we are not assigning the bacon+1 to any variable. The addition value is not stored in any memory so we get the output of the bacon variable as 22.

### **7. What should the values of the following two terms be?**
    'spam' + 'spamspam'

    'spam' * 3

In [12]:
'spam'+'spamspam'

'spamspamspam'

In [13]:
'spam'*3

'spamspamspam'

### **8. Why is eggs a valid variable name while 100 is invalid?**

**Answer:**

We can use eggs name as a valid variable name but we can't use 100 as a valid variable name because,

In Python we have some rules to follow for to create a variable:

        * Variable name can not start with numerical characters.
        * variable name are case sensitive.
        * variable only contains alphanumeric characters and underscores.
Let's take an practical example to understand it more clearly.

In [14]:
eggs = 100
eggs

100

In [15]:
100 = 101
100

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3035627526.py, line 1)

It clearly shows that it is a SyntaxError and we can't assign to a literal.

### **9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

In [16]:
# We can get this values by doing type casting.
x = '10'
print(type(x))
# type casting it to integer
x = int(x)
type(x)

<class 'str'>

int

In [17]:
x = '10.6'
print(type(x))
# type casting it to float.
x = float(x)
type(x)

<class 'str'>

float

In [18]:
x = 100
print(type(x))
# type casting it to string
x = str(x)
type(x)

<class 'int'>

str

So we can use type casting to change the type of the variable.
`
 int()
 float()
 str()
`
by using above three type casting functions we can get the desired result.

### **10. Why does this expression cause an error? How can you fix it?**
'I have eaten ' + 99 + ' burritos.'

In [19]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

As we are getting this **Type error** that says we can't concatenate integer with string. So if we enclose 99 which is int by using quotes it will become str hence we can successfully concatenate all 3 strings.

In [20]:
'I have eaten ' + ' 99' + ' burritos.'

'I have eaten  99 burritos.'